.footer{
    background-color: var(--bg-container-color);
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
}
.content{
    max-width: 1400px;
    margin: 0px auto;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-weight: 600;
}